body,
::before,
::after {
  margin: 0;
  padding: 0;
}
* {
  color: white;
  box-sizing: border-box;
  font-family: Chivo;
}

.pageBox {
  width: 100vw;
  height: 100vh;
  background-color: #101042;
  font-size: 3vh;
}
.cname {
  font-family: poppins;
  position: absolute;
  font-weight: 700;
  font-size: 2.25em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
.tline {
  font-size: 1.5em;
  top: 47%;
  opacity: 0.5;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 10 10 10 10;
}

.navbar_title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar_item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
.navbar_item:hover {
  color: #17ee9d;
}
.test {
  box-shadow: inset 0px 0px 0px 5px white;
}
.btn-grp {
  position: relative;
  column-gap: 10%;
  top: 45%;
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  padding: 0.75em 1.5em;
  border-radius: 0.45em;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  background: linear-gradient(90deg, #721cd5, #dd00f3);
}
.btn:hover {
  background: none;
  fill: black;
  box-shadow: inset 0px 0px 0px 2px white;
}
